{% extends 'WreckThemBundle:Page:base.html.twig' %}

{% block body %}
    {% block header %}
        <h1>Wreck Them</h1>
    {% endblock %}


    {% set user = app.user %}
    {% if user %}
        Bienvenido {{ user.email }}

        {% if user.imgPath %}
            <img src="{{ asset('uploads/images' ~ user.imgPath ) }}" alt="Foto de perfil">
        {% else %}
            no image
        {% endif %}

        <a href="{{ path('perfil') }}">Perfil</a>
        <a href="{{ path('logout') }}">Cerrar sesión</a>
    {% else %}
        <a href="{{ path('login') }}">Entrar</a>
        <a href="{{ path('register') }}">Registrarse</a>
    {% endif %}


    {% block content %}

    {% endblock %}

    {% block footer %}

    {% endblock %}
{% endblock %}