{% extends 'layout.html.twig' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col s12 m8 offset-m2 l6 offset-l3 margin-bottom-l margin-top-l">
                {{ form_start(form) }}

                <p class="center {{ mainColor }}-text text-darken-2">REGISTRO</p>

                {% set errors = form_errors(form) %}
                {% if errors %}
                    <div class="red lighten-4 red-text text-darken-2 paddings-m errors-container margin-bottom-m">
                        {{ errors|raw }}
                    </div>
                {% endif %}

                {#EMAIL#}
                <div class="input-field">
                    {{ form_widget(form.email) }}
                    {{ form_label(form.email, null, {'label': 'Email'}) }}
                </div>
                {% set errors = form_errors(form.email) %}
                {% if errors %}
                    <div class="red lighten-4 red-text text-darken-2 paddings-m errors-container margin-bottom-m">
                        {{ errors|raw }}
                    </div>
                {% endif %}

                {#NICK#}
                <div class="input-field">
                    {{ form_widget(form.nick) }}
                    {{ form_label(form.nick, null, {'label': 'Nombre de usuario'}) }}
                </div>
                {% set errors = form_errors(form.nick) %}
                {% if errors %}
                    <div class="red lighten-4 red-text text-darken-2 paddings-m errors-container margin-bottom-m">
                        {{ errors|raw }}
                    </div>
                {% endif %}

                {#PASSWD#}
                <div class="input-field">
                    {{ form_widget(form.plainPassword.first, {'attr': {'required': 'required'}}) }}
                    {{ form_label(form.plainPassword.first) }}
                </div>
                {% set errors = form_errors(form.plainPassword.first) %}
                {% if errors %}
                    <div class="red lighten-4 red-text text-darken-2 paddings-m errors-container margin-bottom-m">
                        {{ errors|raw }}
                    </div>
                {% endif %}

                {#CONFIRM#}
                <div class="input-field">
                    {{ form_widget(form.plainPassword.second, {'attr': {'required': 'required'}}) }}
                    {{ form_label(form.plainPassword.second) }}
                </div>
                {% set errors = form_errors(form.plainPassword.second) %}
                {% if errors %}
                    <div class="red lighten-4 red-text text-darken-2 paddings-m errors-container margin-bottom-m">
                        {{ errors|raw }}
                    </div>
                {% endif %}

                {#IMG#}
                <div class="file-field input-field">
                    <div class="btn btn-small {{ accentColor }}">
                        <span>Imagen de perfil</span>
                        {{ form_widget(form.img, {'attr': {'placeholder': 'Imagen de perfil'}}) }}
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text">
                    </div>
                </div>
                {% set errors = form_errors(form.img) %}
                {% if errors %}
                    <div class="red lighten-4 red-text text-darken-2 paddings-m errors-container margin-bottom-m">
                        {{ errors|raw }}
                    </div>
                {% endif %}

                <div class="right">
                    <a class="margin-right-s btn-flat {{ accentColor }}-text text-darken-3" href="/">Volver</a>
                    <button class="btn waves-effect waves-light btn-small {{ accentColor }}" type="submit">
                        Registrarse
                        <i class="material-icons right">send</i>
                    </button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}