{% extends 'base.html.twig' %}

{% block body %}
    {% block header %}
        <h1><a href="{{ path('homepage') }}">{{ title }}</a></h1>
    {% endblock %}

    {% if user %}
        Usuario: {{ user.email }}

        {% if user.imgPath %}
            <img src="{{ asset('uploads/images/' ~ user.imgPath ) }}" alt="Foto de perfil">
        {% else %}
            no image
        {% endif %}

        <a href="{{ path('perfil') }}">Perfil</a>
        <a href="{{ path('logout') }}">Cerrar sesión</a>

        {% include 'includes/chat.html.twig' %}

        <button id="search-game">Buscar partida</button>
    {% else %}
        <a href="{{ path('login') }}">Entrar</a>
        <a href="{{ path('register') }}">Registrarse</a>
    {% endif %}


    {% block content %}

    {% endblock %}

    {% block footer %}

    {% endblock %}
{% endblock %}