{% extends 'base.html.twig' %}

{% set mainColor = 'green' %}
{% set accentColor = 'amber' %}

{% block body %}

    <div id="load-layer" class="valign-wrapper">
        <div class="preloader-wrapper big active valign">
            <div class="spinner-layer spinner-yellow-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div><div class="gap-patch">
                    <div class="circle"></div>
                </div><div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>

    {% block header %}

        <ul id="dropdown1" class="dropdown-content">
            <li><a href="/perfil" class="{{ mainColor }}-text">Perfil</a></li>
            <li><a href="/logout" class="{{ mainColor }}-text">Salir</a></li>
        </ul>

        <nav class="{{ mainColor }}">
            <div class="nav-wrapper container">
                <a href="{{ path('homepage') }}" class="brand-logo left">
                    <span class="hide-on-med-and-up">Brisca</span>
                    <span class="hide-on-small-only">{{ title }}</span>
                </a>
                {% if user %}
                    <ul id="nav-mobile" class="right">
                        <li class="hide-on-small-only {% if currentPath == path('homepage') %}active{% endif %}">
                            <a href="/">
                                Inicio
                            </a>
                        </li>
                        <li class="{% if currentPath == path('play') %}hide-on-small-only active{% endif %}">
                            <a href="/jugar">
                                Jugar
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-button" href="#" data-activates="dropdown1">
                                <img src="{{ asset('uploads/images/' ~ user.imgPath ) }}" class="user-img">
                                <span class="margin-right-m"></span>
                                {{ user.nick }}
                                {#<span class="hide-on-small-only">{{ user.nick }}</span>#}
                            </a>
                        </li>
                        {% if currentPath == path('play') %}
                            <li class="hide-on-med-and-up">
                                {#<!-- Modal Trigger -->#}
                                <a id="trigger" href="#modal1" data-target="modal1" class="modal-trigger">
                                    <i class="material-icons">textsms</i>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                {% endif %}
            </div>
        </nav>

    {% endblock %}

    <main>
        {% block content %}{% endblock %}
    </main>

    {% block footer %}
        <footer class="page-footer {{ mainColor }}">
            <div class="container center">
                <h5 class="white-text">Contacto</h5>

                <div id="rs">
                    <a href="https://twitter.com/jar_omero" target="_blank" class="btn light-blue lighten-1 waves-effect waves-light">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                        Twitter
                    </a>
                    <span class="separe"></span>
                    <a href="https://github.com/JaRomero95/" target="_blank" class="btn black waves-effect waves-light">
                        <i class="fa fa-github" aria-hidden="true"></i>
                        Github
                    </a>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    © 2016 Juan Antonio Romero Molero. <span
                            class="hide-on-small-only">Todos los derechos reservados.</span>
                </div>
            </div>
        </footer>
    {% endblock %}
{% endblock %}