{% extends 'layout.html.twig' %}
{# TODO sonidos#}
{#FIXME min-width del juego es superior a 320#}
{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('css/game3.css') }}">

    <link href='https://fonts.googleapis.com/css?family=Rye' rel='stylesheet' type='text/css'>

    {# css en <style> para acceder a asset() #}
    <style>
        .game-card {
            background-image: url('{{ asset('img/backCard.png') }}');
        }

        .espadasAs {
            background-image: url('{{ asset('img/cards/espadasAs.png') }}');
        }

        .espadasDos {
            background-image: url('{{ asset('img/cards/espadasDos.png') }}');
        }

        .espadasTres {
            background-image: url('{{ asset('img/cards/espadasTres.png') }}');
        }

        .espadasCuatro {
            background-image: url('{{ asset('img/cards/espadasCuatro.png') }}');
        }

        .espadasCinco {
            background-image: url('{{ asset('img/cards/espadasCinco.png') }}');
        }

        .espadasSeis {
            background-image: url('{{ asset('img/cards/espadasSeis.png') }}');
        }

        .espadasSiete {
            background-image: url('{{ asset('img/cards/espadasSiete.png') }}');
        }

        .espadasSota {
            background-image: url('{{ asset('img/cards/espadasSota.png') }}');
        }

        .espadasCaballo {
            background-image: url('{{ asset('img/cards/espadasCaballo.png') }}');
        }

        .espadasRey {
            background-image: url('{{ asset('img/cards/espadasRey.png') }}');
        }

        .bastosAs {
            background-image: url('{{ asset('img/cards/bastosAs.png') }}');
        }

        .bastosDos {
            background-image: url('{{ asset('img/cards/bastosDos.png') }}');
        }

        .bastosTres {
            background-image: url('{{ asset('img/cards/bastosTres.png') }}');
        }

        .bastosCuatro {
            background-image: url('{{ asset('img/cards/bastosCuatro.png') }}');
        }

        .bastosCinco {
            background-image: url('{{ asset('img/cards/bastosCinco.png') }}');
        }

        .bastosSeis {
            background-image: url('{{ asset('img/cards/bastosSeis.png') }}');
        }

        .bastosSiete {
            background-image: url('{{ asset('img/cards/bastosSiete.png') }}');
        }

        .bastosSota {
            background-image: url('{{ asset('img/cards/bastosSota.png') }}');
        }

        .bastosCaballo {
            background-image: url('{{ asset('img/cards/bastosCaballo.png') }}');
        }

        .bastosRey {
            background-image: url('{{ asset('img/cards/bastosRey.png') }}');
        }

        .orosAs {
            background-image: url('{{ asset('img/cards/orosAs.png') }}');
        }

        .orosDos {
            background-image: url('{{ asset('img/cards/orosDos.png') }}');
        }

        .orosTres {
            background-image: url('{{ asset('img/cards/orosTres.png') }}');
        }

        .orosCuatro {
            background-image: url('{{ asset('img/cards/orosCuatro.png') }}');
        }

        .orosCinco {
            background-image: url('{{ asset('img/cards/orosCinco.png') }}');
        }

        .orosSeis {
            background-image: url('{{ asset('img/cards/orosSeis.png') }}');
        }

        .orosSiete {
            background-image: url('{{ asset('img/cards/orosSiete.png') }}');
        }

        .orosSota {
            background-image: url('{{ asset('img/cards/orosSota.png') }}');
        }

        .orosCaballo {
            background-image: url('{{ asset('img/cards/orosCaballo.png') }}');
        }

        .orosRey {
            background-image: url('{{ asset('img/cards/orosRey.png') }}');
        }

        .copasAs {
            background-image: url('{{ asset('img/cards/copasAs.png') }}');
        }

        .copasDos {
            background-image: url('{{ asset('img/cards/copasDos.png') }}');
        }

        .copasTres {
            background-image: url('{{ asset('img/cards/copasTres.png') }}');
        }

        .copasCuatro {
            background-image: url('{{ asset('img/cards/copasCuatro.png') }}');
        }

        .copasCinco {
            background-image: url('{{ asset('img/cards/copasCinco.png') }}');
        }

        .copasSeis {
            background-image: url('{{ asset('img/cards/copasSeis.png') }}');
        }

        .copasSiete {
            background-image: url('{{ asset('img/cards/copasSiete.png') }}');
        }

        .copasSota {
            background-image: url('{{ asset('img/cards/copasSota.png') }}');
        }

        .copasCaballo {
            background-image: url('{{ asset('img/cards/copasCaballo.png') }}');
        }

        .copasRey {
            background-image: url('{{ asset('img/cards/copasRey.png') }}');
        }
    </style>
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script src="{{ asset('js/game3.js') }}"></script>
    <script src="{{ asset('js/lib/jquery-ui.min.js') }}"></script>
    <script>
        $(document).ready(function () {
            $('.modal-trigger').leanModal();
        });
    </script>
{% endblock %}

{% block content %}

    {#chat modal: replicar para cambiar los id#}
    <div id="modal1" class="modal">
        <div>
            <button class="btn-flat modal-close right">X</button>
        </div>
        <div class="modal-content">
            <div class="chat-box">
                <div class="col s12">
                    <ul id="tabs2" class="tabs">
                        <li id="tab-chat-general2" class="tab"><a class="active" href="#c-general2">General</a></li>
                        <li id="tab-chat-game2" class="tab"><a href="#c-game2">Partida</a></li>
                    </ul>
                </div>
                <div id="c-general2" class="msgs-container col s12">
                    <ul class="messages msgs"></ul>
                    <form id="chat2" class="chat">
                        <div class="margin-bottom-none center">
                            <div class="input-field input-group">
                                <input id="m2" type="text" autocomplete="off" class="margin-bottom-none">
                                <label for="m2">Mensaje</label>
                                <span class="suffix">
                                    <button class="btn-floating {{ accentColor }} waves-effect waves-light" type="submit">
                                        <i class="material-icons">send</i>
                                    </button>
                                </span>
                            </div>

                        </div>

                    </form>
                </div>

                <div id="c-game2" class="msgs-container col s12">
                    <ul class="messages msgs-game"></ul>
                    <form id="chat-game2" class="chat">
                        <div class="margin-bottom-none center">
                            <div class="input-field input-group">
                                <input id="m-game2" type="text" autocomplete="off" class="margin-bottom-none">
                                <label for="m-game2">Mensaje</label>
                                <span class="suffix">
                                    <button class="btn-floating {{ accentColor }} waves-effect waves-light" type="submit">
                                        <i class="material-icons">send</i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {# finish game modal#}
    <div id="finish" class="modal">
        <div class="modal-content">
            {#<h4>Final de la partida</h4>#}

            <table>
                <tr>
                    <th>Imagen</th>
                    <th>Nombre</th>
                    <th>Puntuación</th>
                </tr>
                <tr>
                    <td><img src="{{ asset('uploads/images/' ~ user.imgPath ) }}" id="finish-user-img"
                             class="finish-avatar"></td>
                    <td>{{ user.nick }}</td>
                    <td id="finish-my-score"></td>
                </tr>
                <tr>
                    <td>
                        <img src="" id="finish-oponnent-img" class="finish-avatar">
                    </td>
                    <td id="finish-oponnent-name"></td>
                    <td id="finish-oponnent-score"></td>
                </tr>
            </table>

            <div class="result-img">
                <img id="winner" src="{{ asset('img/winner.png') }}">
                <img id="loser" src="{{ asset('img/loser.png') }}">
                <img id="draw" src="{{ asset('img/draw.png') }}">
            </div>
            <p id="finish-text" class="center-align"></p>
            {#fixme ¿no translate hover card my-cards#}
        </div>
        <div class="modal-footer">
            <a href="#" class="modal-action modal-close waves-effect waves-green btn-flat"
               onclick="return false">Cerrar</a>
        </div>
    </div>

    <div class="row margin-bottom-none">
        <div id="game-container" class="col s12 m7">

            <div id="over-game">
                <button class="btn {{ accentColor }} waves-effect waves-light" id="search-game">Buscar partida</button>
            </div>

            <div id="game">

                {#Unused#}
                <div id="game-alert">
                    <p>Hola mundo</p>
                </div>

                <div class="playerImg" id="iImg">
                    <img src="{{ asset('uploads/images/' ~ user.imgPath ) }}">

                    <div class="user-name truncate" id="my-name">{{ user.nick }}</div>
                </div>

                <div class="playerImg" id="oponnentImg">
                    <img src="{{ asset('img/qmark.png') }}">

                    <div class="user-name truncate" id="oponnent-name"></div>
                </div>

                {#<div style="display: none">
                    <div class="game-card espadasAs"></div>
                    <div class="game-card espadasDos"></div>
                    <div class="game-card espadasTres"></div>
                    <div class="game-card espadasCuatro"></div>
                    <div class="game-card espadasCinco"></div>
                    <div class="game-card espadasSeis"></div>
                    <div class="game-card espadasSiete"></div>
                    <div class="game-card espadasSota"></div>
                    <div class="game-card espadasCaballo"></div>
                    <div class="game-card espadasRey"></div>

                    <div class="game-card bastosAs"></div>
                    <div class="game-card bastosDos"></div>
                    <div class="game-card bastosTres"></div>
                    <div class="game-card bastosCuatro"></div>
                    <div class="game-card bastosCinco"></div>
                    <div class="game-card bastosSeis"></div>
                    <div class="game-card bastosSiete"></div>
                    <div class="game-card bastosSota"></div>
                    <div class="game-card bastosCaballo"></div>
                    <div class="game-card bastosRey"></div>

                    <div class="game-card orosAs"></div>
                    <div class="game-card orosDos"></div>
                    <div class="game-card orosTres"></div>
                    <div class="game-card orosCuatro"></div>
                    <div class="game-card orosCinco"></div>
                    <div class="game-card orosSeis"></div>
                    <div class="game-card orosSiete"></div>
                    <div class="game-card orosSota"></div>
                    <div class="game-card orosCaballo"></div>
                    <div class="game-card orosRey"></div>

                    <div class="game-card copasAs"></div>
                    <div class="game-card copasDos"></div>
                    <div class="game-card copasTres"></div>
                    <div class="game-card copasCuatro"></div>
                    <div class="game-card copasCinco"></div>
                    <div class="game-card copasSeis"></div>
                    <div class="game-card copasSiete"></div>
                    <div class="game-card copasSota"></div>
                    <div class="game-card copasCaballo"></div>
                    <div class="game-card copasRey"></div>
                </div>#}

                <div id="oponnent-cards" class="player-cards">
                </div>

                <div id="oponnent-play" class="play"></div>
                <div id="oponnent-over" class="play"></div>

                <div id="chrono-shadow" class="chrono">00</div>
                <div id="chrono" class="chrono">00</div>

                <div id="suit">
                    <div id="sample" class="game-card"></div>
                    <div class="game-card" id="deck"></div>
                    <div id="num"></div>
                </div>

                <div id="my-play" class="play"></div>
                <div id="my-over" class="play"></div>

                <div id="my-cards" class="player-cards">
                </div>
            </div>
        </div>

        <div id="chat-container" class="col m5 hide-on-small-only {{ mainColor }} lighten-4">
            {% include 'includes/chat.html.twig' %}
        </div>
    </div>
{% endblock %}