{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('css/game2.css') }}">

{% endblock %}

{% block scripts %}
    {{ parent() }}

    {#Variables globlales para las imágenes#}
    <script>
        var userImg = '{{ asset('uploads/images/' ~ user.imgPath ) }}',
                imgSrc = {
                    'card': '{{ asset('img/backCard.png') }}',
                    'cardRotated': '{{ asset('img/rotateBackCard.png') }}',

                    'espadasAs': '{{ asset('img/cards/espadasAs.png') }}',
                    'espadasDos': '{{ asset('img/cards/espadasDos.png') }}',
                    'espadasTres': '{{ asset('img/cards/espadasTres.png') }}',
                    'espadasCuatro': '{{ asset('img/cards/espadasCuatro.png') }}',
                    'espadasCinco': '{{ asset('img/cards/espadasCinco.png') }}',
                    'espadasSeis': '{{ asset('img/cards/espadasSeis.png') }}',
                    'espadasSiete': '{{ asset('img/cards/espadasSiete.png') }}',
                    'espadasSota': '{{ asset('img/cards/espadasSota.png') }}',
                    'espadasCaballo': '{{ asset('img/cards/espadasCaballo.png') }}',
                    'espadasRey': '{{ asset('img/cards/espadasRey.png') }}',

                    'bastosAs': '{{ asset('img/cards/bastosAs.png') }}',
                    'bastosDos': '{{ asset('img/cards/bastosDos.png') }}',
                    'bastosTres': '{{ asset('img/cards/bastosTres.png') }}',
                    'bastosCuatro': '{{ asset('img/cards/bastosCuatro.png') }}',
                    'bastosCinco': '{{ asset('img/cards/bastosCinco.png') }}',
                    'bastosSeis': '{{ asset('img/cards/bastosSeis.png') }}',
                    'bastosSiete': '{{ asset('img/cards/bastosSiete.png') }}',
                    'bastosSota': '{{ asset('img/cards/bastosSota.png') }}',
                    'bastosCaballo': '{{ asset('img/cards/bastosCaballo.png') }}',
                    'bastosRey': '{{ asset('img/cards/bastosRey.png') }}',

                    'orosAs': '{{ asset('img/cards/orosAs.png') }}',
                    'orosDos': '{{ asset('img/cards/orosDos.png') }}',
                    'orosTres': '{{ asset('img/cards/orosTres.png') }}',
                    'orosCuatro': '{{ asset('img/cards/orosCuatro.png') }}',
                    'orosCinco': '{{ asset('img/cards/orosCinco.png') }}',
                    'orosSeis': '{{ asset('img/cards/orosSeis.png') }}',
                    'orosSiete': '{{ asset('img/cards/orosSiete.png') }}',
                    'orosSota': '{{ asset('img/cards/orosSota.png') }}',
                    'orosCaballo': '{{ asset('img/cards/orosCaballo.png') }}',
                    'orosRey': '{{ asset('img/cards/orosRey.png') }}',

                    'copasAs': '{{ asset('img/cards/copasAs.png') }}',
                    'copasDos': '{{ asset('img/cards/copasDos.png') }}',
                    'copasTres': '{{ asset('img/cards/copasTres.png') }}',
                    'copasCuatro': '{{ asset('img/cards/copasCuatro.png') }}',
                    'copasCinco': '{{ asset('img/cards/copasCinco.png') }}',
                    'copasSeis': '{{ asset('img/cards/copasSeis.png') }}',
                    'copasSiete': '{{ asset('img/cards/copasSiete.png') }}',
                    'copasSota': '{{ asset('img/cards/copasSota.png') }}',
                    'copasCaballo': '{{ asset('img/cards/copasCaballo.png') }}',
                    'copasRey': '{{ asset('img/cards/copasRey.png') }}'
                };
    </script>

    <script src="{{ asset('js/game-canvas.js') }}"></script>
{% endblock %}

{% block content %}

    <div id="gameArea">
        <canvas id="game" width="320" height="480">
            Tu navegador no soporta canvas. Actualízalo o descarga uno de estos navegadores <a
                    href="https://www.google.com/chrome/browser/desktop/index.html">Google Chrome</a>,
            <a href="https://www.mozilla.org/es-ES/firefox/new/">Mozilla Firefox</a>.
        </canvas>
    </div>
{% endblock %}